body
{
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    /*background-image: url("background.png");
    background-repeat:no-repeat;
    background-attachment: fixed;*/
}

.logo-style
{
    font-size: 2em;
    font-family: 'Michroma', sans-serif;
}

.glow-style
{
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
}

#navbar-img
{
    width:35px;
    height:35px;
}

.glow-style:hover,
.glow-style.glow
{
    text-shadow: 0 0 15px #FFFF66;
}

.carousel-inner > .item > img
{
    margin: 0 auto;
}

.thin-separator
{
    margin: 10px auto;
    height: 1px;
    background-color: #FDFDFD;
}

.theme-color-yellow
{
    color: yellow;
}

#profile-title
{
    padding-left: 15px;
}

.theme-color
{
    color: #FFFF66;
}

.theme-color-green
{
    color: green;
}

.thin-separator-theme
{
    margin: 10px auto;
    height: 2px;
    background-color: #FFFF66;
}

.attrib-meta
{
    color: #808080;
}

.top-margin-15
{
    margin-top: 15px;
}

.hide {
    display: none;
}

.italic {
    font-style: italic;
}