body
{
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    /*background-image: url("background.png");
    background-repeat:no-repeat;
    background-attachment: fixed;*/
}

.logo-style
{
    font-size: 2em;
    font-family: 'Michroma', sans-serif;
}

.carousel-inner > .item > img
{
    margin: 0 auto;
}

.thin-separator
{
    margin: 10px auto;
    height: 1px;
    background-color: #FDFDFD;
}