body
{
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    /*background-image: url("background.png");
    background-repeat:no-repeat;
    background-attachment: fixed;*/
}

.logo-style
{
    font-size: 2em;
    font-family: 'Michroma', sans-serif;
}

.glow-style
{
    -webkit-transition: text-shadow 1s linear;
    -moz-transition: text-shadow 1s linear;
    -o-transition: text-shadow 1s linear;
    transition: text-shadow 1s linear;
}

#navbar-img
{
    width:35px;
    height:35px;
}

.glow-style:hover,
.glow-style.glow
{
    text-shadow: 0 0 15px #FFFF66;
}

.carousel-inner > .item > img
{
    margin: 0 auto;
}

.thin-separator
{
    margin: 10px auto;
    height: 1px;
    background-color: #FDFDFD;
}

.theme-color-yellow
{
    color: yellow;
}

#profile-title
{
    padding-left: 15px;
}

.theme-color
{
    color: #FFFF66;
}

.admin-color
{
    color: red;
}

.theme-color-green
{
    color: green;
}

.thin-separator-theme
{
    margin: 10px auto;
    height: 2px;
    background-color: #FFFF66;
}

.attrib-meta
{
    color: #808080;
}

.top-margin-15
{
    margin-top: 15px;
}

.hide {
    display: none;
}

.italic {
    font-style: italic;
}

.slate-bg {
    background-color: #272B30;
}

.slate-bg-lighter {
    background-color: #272B30;
}

.slate-text-light {
    color: rgb(200, 200, 200);
}

.form-control:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(255, 255, 102, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 102, 0.6);
  outline: 0 none;
}

.form-control:select,
textarea:select,
input[type="text"]:select,
input[type="password"]:select,
input[type="datetime"]:select,
input[type="datetime-local"]:select,
input[type="date"]:select,
input[type="month"]:select,
input[type="time"]:select,
input[type="week"]:select,
input[type="number"]:select,
input[type="email"]:select,
input[type="url"]:select,
input[type="search"]:select,
input[type="tel"]:select,
input[type="color"]:select,
.uneditable-input:select {   
  border-color: rgba(255, 255, 102, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 102, 0.6);
  outline: 0 none;
}