#game-thumbnail {
    width: 150px;
    height: 150px;
}

.center-image {
    margin-left: auto;
    margin-right: auto;
}

.fixed-width {
    max-width: 100%;
}

.owner-tools {
    /**/
}

.non-owner-tools {
    /**/
}